@{
    ViewBag.Title = "Acaidera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="conteudo">
    <div class="panel panel-default container">
        <div class="panel-heading">Açaidera</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="/Content/images/movimentec.png" class="img-responsive" style="width:100%;" />

                </div>

                <div class="col-md-8">
                    <p>A “festa do açaí”, ou melhor, a Açaídera é um festival organizado pelo Movimento Jovem Brasil. O evento em sua essência foi criado com o intuito de arrecadar fundos para a manutenção do grupo Movimento Jovem Brasil , e também para a divulgação da entidade em locais fora do Nippon Country Club, onde está localizada sua sede. Com o passar do tempo, a Açaídera tornou-se um ponto de encontro para todas as idades. Hoje, é uma festa que toda a família frequenta, onde o Movi junta comidas deliciosas, muitas brincadeiras, atrações incríveis e é claro, muito Açaí!</p>

                    <p>A Açaídera conta também com um trabalho social, onde um 1kg de alimento não perecível é recolhido na entrada e doado a uma instituição carente.</p>
                </div>
            </div>
        </div>

    </div>
</div>