@{
    ViewBag.Title = "Atividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default container" id="movimentojovem">
    <div class="panel-heading">Atividades</div>
    <div class="panel-body">

        <div class="panel panel-default">
            <div class="panel-heading">Sobre as Atividades</div>
            <div class="panel-body">

                <p>Durante o ano, nossos membros realizam atividades voluntárias, sempre beneficiando a entidade. Ajudamos principalmente em seus bazares beneficentes, e algumas vezes até mesmo em sua manutenção. Hoje, frequentamos as seguintes instituições:</p>

                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">Kibonoiê</div>
                            <div class="panel-body">
                                <img src="/Content/images/kibonoie.png" class="img-responsive">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 text-center">
                        <div class="panel panel-default">
                            <div class="panel-heading">Assistência Social Dóm José Gaspar</div>
                            <div class="panel-body"> <img src="/Content/images/assistencia.png" class="img-responsive" style="height:217px;"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>




        <p>-<a href="http://kibonoie.org.br/aspx/home.aspx" style="color:black;">Kibonie</a>    </p>
        <p>- <a href="http://www.ikoinosono.org.br/" style="color:black;">Ikoi no Sono</a> </p>
        <p>-<a href="http://www.enkyo.org.br/reab_guarulhos.html" style="color:black;">Yasuragui Home</a></p>
        <p>-<a href="http://www.irmascaritasdejesus.org.br/lar-santo-antonio/" style="color:black;">Lar Santo Antônio</a>  </p>


        <p>Também participamos de eventos como:</p>

        <div class="panel panel-default">
            <div class="panel-heading">Interkaikans</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        <img src="/Content/images/interkaikan.png" class="img-responsive">
                    </div>
                    <div class="col-lg-7">
                        O Interkaikans Beneficente começou em 1994, por iniciativa de entidades jovens da Zona Norte de São Paulo. Desde sua criação, a proposta sempre foi de promover intercâmbio entre as associações participantes e de conscientizar os jovens da importância do auxílio aos maiAs carentes.
                        A cada edição foi agregando várias outras entidades participantes que compartilham dos mesmos ideais e assim o evento cresceu.&nbsp;Após sua nona edição em 2002, o evento passou por uma pausa de oito anos, mas&nbsp;em 2010 retornou para continuar transmitindo todos esses valores.
                        </p>
                        <p>
                            Este é um espaço para reunirmos as memórias de todos esses dias marcantes. Um lugar para&nbsp;revivemos as horas de diversão,
                            de descontração, todas as cenas engraçadas e aqueles momentos especiais que vivemos quando visitamos as entidades beneficiadas
                            para entregar os donativos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

