@{
    ViewBag.Title = "GaleriaFotos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default container">
    <div class="panel-heading">Galeria de Fotos</div>
    <div class="panel-body">

        <div class="panel panel-default">
            <div class="panel-heading">Movimente</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">Movimente-15 &quot;Viva o Presente&quot;</div>
                            <div class="panel-body">
                                <a href="@Url.Action("Construcao","Home")"><img src="/Content/images/boravoarprimeiro.jpg" class="img-thumbnail img-responsive" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">Movimente-16 &quot;Desafie-se&quot;</div>
                            <div class="panel-body">
                                <a href="@Url.Action("Construcao","Home")"><img src="/Content/images/desafiese.jpg" class="img-thumbnail img-responsive" /></a>
</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">Movimente-17 &quot;Quem Somos&quot;</div>
                            <div class="panel-body">
                                <a href="@Url.Action("Construcao","Home")"><img src="/Content/images/17movimente.jpg" class="img-thumbnail img-responsive" /></a>
</div>
                        </div>
                    </div>
                </div>
            </div>


    

        </div>

    </div>



</div>

