@{
    ViewBag.Title = "NossaHistoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default container">
    <div class="panel-heading">Nossa História</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4 text-center">
                <img src="/Content/images/claudiosasaki.png" class="img-responsive" />


            </div>
            <div class="col-md-8">
                <p>Sentindo a necessidade de uma maior integração dos jovens associados do Nippon Country Club e a convite da AELU (Asociación Estadio La Unión), Cláudio Sassaki teve a oportunidade de conhecer o Movimiento de Menores – AELU, criado em 1981. A partir dessa visita e com a ajuda de alguns representantes da AELU, em setembro de 1997 Sassaki fundou o Movimento Jovem – Nippon Country Club. Após o trabalho iniciado dentro do clube, foi idealizado um trabalho semelhante e ampliado para várias organizações e entidades, surgindo, então, o Movimento Jovem. Atualmente, o Movi conta com uma série de atividades como o Movi-mente (o principal evento do grupo, inicializado em 1999) e outras mais atividades de cunho cultural e desportivo além de diversos grupos que carregam os mesmo ideais movianos.</p>


            </div>
        </div>
    </div>
</div>
 