@{
    ViewBag.Title = "Patrocinadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="conteudo">
    <div class="panel panel-default container">
        <div class="panel-heading">Patrocinadores</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                           <img src="~/Content/images/patro_ncc-01.png" />
                </div>
                <div class="col-md-3">
                    <img src="~/Content/images/patro_ncc-01.png" />
                </div>
                <div class="col-md-3">
                    <img src="~/Content/images/patro_ncc-01.png" />
                </div>
                <div class="col-md-3">
                    <img src="~/Content/images/patro_ncc-01.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Content/images/patro_ncc-01.png" />
                </div>
                <div class="col-md-3">
                    <img src="~/Content/images/patro_ncc-01.png" />
                </div>
                <div class="col-md-3">
                    <img src="~/Content/images/patro_ncc-01.png" />
                </div>
                <div class="col-md-3">
                    <img src="~/Content/images/patro_ncc-01.png" />
                </div>
            </div>
        </div>
    </div>

</div>

