@{
    ViewBag.Title = "QuemSomos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="conteudo">
    <div class="panel panel-default container">
        <div class="panel-heading">Movimento Jovem Brasil</div>
        <div class="panel-body">

            <div class="panel panel-default ">
                <div class="panel-heading">Quem Somos?</div>
                <div class="panel-body">

                    <p>O Movimento Jovem Brasil é uma entidade sem fins lucrativos que tem em sua missão o principal combustível para seus voluntários. Atualmente, o Movimento Jovem conta com mais de 50 membros ativos, que dividem seu tempo entre suas atividades diárias e as atividades da entidade.</p>

                    <p>O “Movi”, apelido que ficou carinhosamente conhecido, é composto por membros das mais diversas faixas etárias, desde os 12 até os 30 anos de idade. Grandes partes das suas atividades ocorrem em sua sede, localizado no Nippon Country Club em Arujá-SP.</p>



                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading">Missão</div>
                <div class="panel-body">

                    <p>O Movimento Jovem Brasil é uma entidade que tem como missão a busca de um mundo melhor através de pessoas melhores. Acreditamos que o meio é prod uto do homem e não o homem produto do meio. Assim, um homem melhor, mais consciente e crítico de si e da sociedade em que vive, terá a capacidade de ser mais atuante e produtor de um mundo melhor. Mundo esse onde o calor humano será mais compartilhado, seremos muito mais do que temos e as pessoas não terão seus valores e ideais corrompidos pela sociedade.</p>

                    <img src="/Content/images/movimentomissao.png" style="width:100%;height:450px;" class="img-responsive" />
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading">Visão</div>
                <div class="panel-body">

                    <p>Visando tornar-se uma organização não governamental, reconhecida pelos objetivos e pela missão, o Movimento Jovem Brasil trabalha atualmente em novas ideias, com o intuito de criar uma melhor estrutura e trazer resultados concretos.</p>


                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading">Objetivos</div>
                <div class="panel-body">

                    <p>Buscamos criar oportunidades de novas experiências para os membros do Movi e participantes dos eventos movianos (eventos realizados pelo Movi) através da integração entre jovens de diferentes partes do Brasil e do mundo, além da realização de diversas atividades, como palestras, debates, reuniões e atividades socioculturais.</p>

                    <p>Através de situações diferenciadas da rotina, trabalhamos os sentidos e as inteligências diversas, ainda pouco valorizadas na formação do cidadão atual.</p>

                    <p>Temas pouco abordados nas escolas e entre familiares, muitas vezes classificados como “tabus” pela sociedade são trabalhados em reuniões e palestras, expandindo dessa maneira os horizontes e dando uma nova visão mais consciente para o jovem. A partir dessa troca de experiências, permite-se o descobrimento e desenvolvimento pessoal/interpessoal, conscientizando e orientando os jovens sobre suas potencialidades, senso crítico e da importância da valorização das relações humanas, pois, afinal de contas, elas são parte do nosso modo de ser e viver. Acreditamos que a formação de jovens com coragem e capacidade de serem líderes de suas próprias vidas e com uma consciência mais crítica sobre o nosso meio é um primeiro passo para melhorar nossa sociedade e, consequentemente, nosso mundo.</p>

                    <p>Ao longo do ano, são realizadas diversas atividades de integração dentro do Nippon Country Club, onde o foco é atrair novos membros para a entidade. Além do intercâmbio de jovens “Movi-mente”, o grupo conta com mais 5 eventos: Açaidera, IntegraMovi, MoviYourBody, Copa Movi e o recém criado Origens, que dão aos mais jovens experiência na parte organizacional além de ser um grande ponto para o reencontro de todos estes jovens que acabam se conhecendo durante os eventos.</p>

                    <p>Os integrantes do Movi também dedicam um pouco de seu tempo no ano para realizarem algumas ações socioculturais e voluntárias, ajudando algumas entidades na região da grande São Paulo. O Movimento Jovem ainda possui um grupo com os mesmos princípios, dedicado a pessoas maiores de 18 anos, chamado Movimento de Líderes (conhecido como Movi Líderes), onde são realizados ciclos de palestras, reuniões e discussões durante um determinado tempo (atualmente o ciclo dura 6 meses), onde os principais valores movianos são passados.</p>



                </div>
            </div>
        </div>
    </div>
</div>

