@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div id="conteudo">

    <div id="myCarousel" class="carousel slide container">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner ">
            <div class="item active">
                <img src="Content/images/Banner_Sanfona.jpg" class="img-responsive" width="100%" height="100%" />
                <div class="container">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="Content/images/Banner_Sanfona.jpg" class="img-responsive" width="100%" height="100%" />
                <div class="container">
                    <div class="carousel-caption">

                    </div>
                </div>
            </div>
            <div class="item">
                <img src="Content/images/Banner_Sanfona.jpg" class="img-responsive" width="100%" height="100%" />
                <div class="container">
                    <div class="carousel-caption">

                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>

</div>

<br clear="all" />
