@{
    ViewBag.Title = "CopaMovi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="conteudo">
    <div class="panel panel-default container">
        <div class="panel-heading">Copa-Movi</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/images/movimented].png" class="img-responsive" style="width:100%;" />

                </div>
                <div class="col-md-8">
                    <p>O Movimento Jovem Brasil acredita no esporte como uma ferramenta para proporcionar tanto o desenvolvimento pessoal quanto integração entre os jovens. Acreditando nessa premissa, o Movi realiza a Copa Movi, com o principal objetivo de buscar, através do esporte, a integração entre os jovens das diversas entidades convidadas. Permitir aos participantes a oportunidade de se conhecerem e trocarem experiências, visando estimular a prática do esporte e a valorização do espírito esportivo.</p>

                    <p>Em suas edições, contamos com a participação de diversas entidades e grupos de São Paulo, além de times vindos de Campinas, Brasília, Curitiba e Belo Horizonte, disputando jogos em duas modalidade esportivas: vôlei e futsal. É uma grande confraternização entre amigos e uma ótima oportunidade para conhecer novas pessoas e trocar experiências. Para o Movi, é também uma oportunidade de recepcionar, em nossa casa, amigos vindos de outras cidades e estados que sempre nos recebem de braços abertos em outros eventos.</p>

                    <p>Sempre queremos contar com a participação ainda maior dos jovens e entidades, e prestigiar jogos disputados, com muita torcida, onde prevaleça o espírito esportivo. Compareça e divirta-se!</p>
                </div>
            </div>
        </div>
    </div>

</div>