@{
    ViewBag.Title = "IkoiNoSono";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default container">
    <div class="panel-heading">Bar Beneficiente - Ikoi No Sono</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <img src="http://ikoinosono.org.br/wordpress/wp-content/uploads/2014/06/Cartaz-724x1024.jpg" class="img-responsive" />

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">

            </div>

            <div class="col-md-8">
                <p>Nos dias 16 e 17 de agosto, a Assistência Social Dom José Gaspar – Ikoi-no-Sono, de Guarulhos, realizará o seu 40º Bazar Beneficente.</p>

                <p>Trazendo as delícias das cozinhas brasileira e japonesa, como yakissoba, tempurá, guiozá, sanmá, lamen, pastel, batata loka, churrasco, sonho, entre outros, terá toda a renda revertida para a manutenção das obras do Ikoi-no-Sono que, atualmente, cuida de residentes na sua maioria dependentes.</p>

                <p>Show com Mariko Nakahira, Karen Ito, Edson Saito, Joe Hirata, Kagura e outras atrações imperdiveis…</p>

                <p>Contribua com R$ 3 e venha fazer parte deste evento, onde a diversão anda de braços dados com a filantropia!</p>

                <p>O Bazar será realizado na rua Jardim de Repouso São Francisco, 881 – Guarulhos, no sábado das 11 às 17 horas e no domingo das 9 às 17 horas.</p>

                <p>Haverá transporte gratuito saindo da rua da Glória, 326, no bairro da Liberdade em São Paulo. No sábado, a partir das 10 até o meio-dia. E no domingo, a partir das 8 até as 11 horas.</p>
                <p>Como chegar?</p>
                <iframe src="http://maps.google.com.br/maps?hl=pt-BR&amp;q=rua+jardim+de+repouso+s%C3%A3o+francisco,+881&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Jardim+Repouso+S%C3%A3o+Francisco,+881+-+Pimentas,+Guarulhos+-+S%C3%A3o+Paulo,+07261-000&amp;gl=br&amp;ll=-23.452512,-46.396872&amp;spn=0.019882,0.027595&amp;t=h&amp;z=14&amp;output=embed" width="425" height="350" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>

                <p>Mais informações, ligue (11) 3208-7248</p>

                <p>Acesse também nossa pagina do facebook</p>
                <p>https://www.facebook.com/ikoinosono</p>
                <p><em>Fonte: Site Ikoi No Sono</em></p>
            </div>
        </div>
    </div>
</div>


