@{
    ViewBag.Title = "Movimente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="conteudo">
    <div class="panel panel-default container">
        <div class="panel-heading">Movimente</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4"><img src="~/Content/images/movimente.png" class="img-responsive" style="width:100%;" /></div>
                <div class="col-md-8">

                    <p>Acreditando na ideia de que homens melhores transformarão o nosso mundo para melhor, o Movi-mente - Intercâmbio Internacional Juvenil – tem como principal objetivo incentivar os jovens a desenvolverem uma consciência social, um senso crítico e de liderança, sendo assim capazes de se auto-analisarem, tornando-se pessoas melhores a cada dia. O Movi-mente é o principal evento realizado pelo Movimento Jovem Brasil. Trata-se de um intercâmbio internacional de jovens que tem a participação de diversas entidades nacionais e internacionais.</p>

                    <p>Utilizando atividades dos mais variados tipos, criamos situações que abrangem temas essenciais na formação do indivíduo, incentivando a constante busca por mudanças positivas. Tais atividades proporcionam também a integração e a união dos jovens, criando grandes laços de amizade, tão importantes em nossas vidas.</p>
                </div>
            </div>
        </div>
    </div>

</div>