@{
    ViewBag.Title = "Origens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="conteudo">
    <div class="panel panel-default container">
        <div class="panel-heading">Origens</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/images/movimentef.png" class="img-responsive" style="width:100%;" />

                </div>
                <div class="col-md-8">
                    <p>Criado em 2013, o Origens é o mais novo evento do Movimento Jovem Brasil. O evento volta com um dos principais propósitos da criação do Movi: a integração de sócios do Nippon Country Club, já departamentalizados ou não. O evento conta com o apoio de todos os departamentos do Nippon, que enviam seus representantes para conhecer o Movi e o trabalho realizado com a metodologia da entidade. Em nossa primeira edição, contamos com 30 jovens e em 2014 iniciaremos novamente o trabalho.</p>
                </div>
            </div>
        </div>
    </div>

</div>

