
@{
    ViewBag.Title = "Concluir Fale Conosco";
}


<div id="conteudo">
    <div class="text-center">
        <h2>Muito Obrigado , por responder o fale conosco. </h2>
        <h3>Entraremos em contato em breve , para resolver suas dúvidas.</h3>
        <br />
        <br />
    </div>
</div>
