
@{
    ViewBag.Title = "ConcluirPatrocinio";
}

<div id="conteudo">
    <div class="text-center">
        <h2>Muito Obrigado pelo seu interesse em patrocinar a Copa Movi @DateTime.Now.Year </h2>
        <h3>Entraremos em contato em breve.</h3>
        <br />
        <br />
    </div>
</div>
