@{
    ViewBag.Title = "Cotas de Patrocínio ";
}

<div id="conteudo">
    <div class="panel panel-default container">
        <div class="panel-heading">Copa Movi -Cotas de Patrocínio </div>
        <div class="panel-body container">
            <div class="row" style="margin:40px">
                <p class=MsoNormal style='text-align: justify; line-height: 150%'>
                    <b style='mso-bidi-font-weight: normal'>
                <p align="center"><span style='font-size: 16.0pt; line-height: 150%; font-family: "Calibri", sans-serif; color: #404040'>Orçamento Copa Movi @DateTime.Now.Year <o:p></o:p></span></p>
                </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <span style='font-size: 12.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                          font-family: "Calibri", sans-serif; color: black'><o:p>&nbsp;</o:p></span>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <span style='font-size: 12.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      font-family: "Calibri", sans-serif; color: black'><o:p>&nbsp;</o:p></span>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <span style='font-size: 12.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    font-family: "Calibri", sans-serif; color: black'><o:p>&nbsp;</o:p></span>
                </p>

                <p class=MsoNormal align=center style='text-align: center'>
                    <b>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif; color: #632423'>

                <p align="center"><img class="img-responsive" src="/Content/images/orcamento.jpg" /></p><o:p></o:p>
                </span>
                </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <b>
                        <span style='font-size: 12.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 font-family: "Calibri", sans-serif; color: #632423'><o:p>&nbsp;</o:p></span>
                    </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <b>
                        <span style='font-size: 12.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  font-family: "Calibri", sans-serif; color: #632423'><o:p>&nbsp;</o:p></span>
                    </b>
                </p>

                <p class=MsoNormal align=center style='text-align: center'>
                    <b>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif; color: #632423'><o:p>&nbsp;</o:p></span>
                    </b>
                </p>

                <p class=MsoNormal align=center style='text-align: center'>
                    <b>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif; color: #632423'><o:p>&nbsp;</o:p></span>
                    </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <b>
                        <span style='font-size: 16.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            font-family: "Calibri", sans-serif; color: #404040'><o:p>&nbsp;</o:p></span>
                    </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <b>
                        <span style='font-size: 16.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             font-family: "Calibri", sans-serif; color: #404040'><o:p>&nbsp;</o:p></span>
                    </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <b>
                        <span style='font-size: 16.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   font-family: "Calibri", sans-serif; color: #404040'><o:p>&nbsp;</o:p></span>
                    </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <b>
                        <span style='font-size: 16.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     font-family: "Calibri", sans-serif; color: #404040'>Cotas de Patrocínio:<o:p></o:p></span>
                    </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <b>
                        <span style='font-size: 16.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           font-family: "Calibri", sans-serif; color: #404040'><o:p>&nbsp;</o:p></span>
                    </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <b>
                        <span style='font-size: 12.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           font-family: "Calibri", sans-serif; color: #0F243E'>
                            Cota Diamante: R$ 2.000,00 (1
                            cota)<o:p></o:p>
                        </span>
                    </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <span style='font-size: 12.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           font-family: "Calibri", sans-serif; mso-bidi-font-weight: bold'><o:p>&nbsp;</o:p></span>
                </p>

                <ul style='margin-top: 0cm' type=disc>
                    <li class=MsoNormal style='text-align: justify; mso-list: l0 level1 lfo2;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         mso-bidi-font-weight: bold'>
                            Denominação/Identificação de quadras (ex:
                            Quadra [nome da empresa]);<o:p></o:p>
                        </span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l0 level1 lfo2;
                                                                                                                                                                                                                                                                                                                                                                                                                                                            tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                                                                                                           mso-bidi-font-weight: bold'>
                            2 banners individuais a serem dispostos nas
                            quadras (a ser concedido pela empresa);<o:p></o:p>
                        </span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l0 level1 lfo2;
                                                                                                                                                                                                                                                                        tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                        mso-bidi-font-weight: bold'>Banner de porte médio na entrada do campeonato;<o:p></o:p></span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l0 level1 lfo2;
                                                                                                                                                                                                                                                                        tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                        mso-bidi-font-weight: bold'>Brindes a serem sorteados ou distribuídos;<o:p></o:p></span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l0 level1 lfo2;
                                                                                                                                                                                                                                                                        tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                        mso-bidi-font-weight: bold'>Citação no folheto da programação do evento;<o:p></o:p></span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l0 level1 lfo2;
                                                                                                                                                                                                                                                                        tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                        mso-fareast-font-family: "Arial Unicode MS"'>Participação como</span><span style='font-size: 12.0pt; font-family: "Calibri", sans-serif'>
                            empresa
                            PATROCINADORA OFICIAL do evento;<span style='mso-bidi-font-weight: bold'><o:p></o:p></span>
                        </span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l0 level1 lfo2;
                                                                                                                                                                                                                                                                                                                                                                                                                                                              tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif'>
                            Participação
                            na cerimônia de abertura/premiação do evento;<span style='mso-bidi-font-weight:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    bold'><o:p></o:p></span>
                        </span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l0 level1 lfo2;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         mso-bidi-font-weight: bold'>Chamada no dia da Abertura.</span><span style='font-size: 12.0pt; font-family: "Calibri", sans-serif'><o:p></o:p></span>
                    </li>
                </ul>

                <p class=MsoNormal style='text-align: justify'>
                    <span style='font-size: 12.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         font-family: "Calibri", sans-serif; mso-bidi-font-weight: bold'><o:p>&nbsp;</o:p></span>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <b>
                        <span style='font-size: 12.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     font-family: "Calibri", sans-serif; color: #0F243E'>
                            Cota Ouro: R$ 1.000,00 (4
                            cotas)<o:p></o:p>
                        </span>
                    </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <span style='font-size: 12.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       font-family: "Calibri", sans-serif; mso-bidi-font-weight: bold'><o:p>&nbsp;</o:p></span>
                </p>

                <ul style='margin-top: 0cm' type=disc>
                    <li class=MsoNormal style='text-align: justify; mso-list: l0 level1 lfo2;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     mso-bidi-font-weight: bold'>
                            1 banner individual (a ser concedido pela
                            empresa);<o:p></o:p>
                        </span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l0 level1 lfo2;
                                                                                                                                                                                                                                                                                                                                                                                                                                                            tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                                                                                                           mso-bidi-font-weight: bold'>
                            Banner a ser dividido com demais empresas da
                            cota;<o:p></o:p>
                        </span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l0 level1 lfo2;
                                                                                                                                                                                                                                                                        tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                        mso-bidi-font-weight: bold'>Brindes a serem sorteados ou distribuídos;<o:p></o:p></span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l0 level1 lfo2;
                                                                                                                                                                                                                                                                        tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                        mso-bidi-font-weight: bold'>Citação no folheto da programação do evento;<o:p></o:p></span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l0 level1 lfo2;
                                                                                                                                                                                                                                                                        tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                        mso-fareast-font-family: "Arial Unicode MS"'>Participação como</span><span style='font-size: 12.0pt; font-family: "Calibri", sans-serif'>
                            empresa
                            PATROCINADORA do evento;<span style='mso-bidi-font-weight: bold'><o:p></o:p></span>
                        </span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l0 level1 lfo2;
                                                                                                                                                                                                                                                                                                                                                                                                                                                              tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                                                                                                                                                                                                              mso-bidi-font-weight: bold'>Chamada no dia da Abertura.</span><span style='font-size: 12.0pt; font-family: "Calibri", sans-serif'><o:p></o:p></span>
                    </li>
                </ul>

                <p class=MsoNormal style='text-align: justify'>
                    <b>
                        <i style='mso-bidi-font-style:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     normal'>
                            <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                color: #993366'><o:p>&nbsp;</o:p></span>
                        </i>
                    </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <b>
                        <span style='font-size: 12.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        font-family: "Calibri", sans-serif; color: #0F243E'>
                            Cota Prata: R$ 300,00 (10
                            cotas)<o:p></o:p>
                        </span>
                    </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <b>
                        <i style='mso-bidi-font-style:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      normal'>
                            <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                                                                                                                                                            color: #FF6600'><o:p>&nbsp;</o:p></span>
                        </i>
                    </b>
                </p>

                <ul style='margin-top: 0cm' type=disc>
                    <li class=MsoNormal style='text-align: justify; mso-list: l2 level1 lfo3;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                          tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                                                                                                                                                          mso-bidi-font-weight: bold'>
                            Banner a ser dividido com demais empresas da
                            cota;<o:p></o:p>
                        </span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l2 level1 lfo3;
                                                                                                                                                                                                                                                                                                tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                                                              mso-bidi-font-weight: bold'>
                            Divulgação em 1/3 página no folheto da
                            programação do evento;<o:p></o:p>
                        </span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l2 level1 lfo3;
                                                                                                                                                                                                                                                                        tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                        mso-fareast-font-family: "Arial Unicode MS"'>Participação como</span><span style='font-size: 12.0pt; font-family: "Calibri", sans-serif'>
                            empresa
                            COLABORADORA do evento;<span style='mso-bidi-font-weight: bold'><o:p></o:p></span>
                        </span>
                    </li>
                    <li class=MsoNormal style='text-align: justify; mso-list: l2 level1 lfo3;
                                                                                                                                                                                                                                                                                                                                                                                                                                                              tab-stops: list 36.0pt'>
                        <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                                                                                                                                                                                                              mso-bidi-font-weight: bold'>Chamada no dia da Abertura.</span><span style='font-size: 12.0pt; font-family: "Calibri", sans-serif'><o:p></o:p></span>
                    </li>
                </ul>

                <p class=MsoNormal style='text-align: justify'>
                    <b>
                        <i style='mso-bidi-font-style:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     normal'>
                            <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                color: #FF6600'><o:p>&nbsp;</o:p></span>
                        </i>
                    </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <b>
                        <span style='font-size: 12.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        font-family: "Calibri", sans-serif; color: #0F243E'>Cota Bronze: R$ 100,00</span>
                    </b><b style='mso-bidi-font-weight: normal'>
                        <span style='font-size: 12.0pt; font-family:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   "Calibri", sans-serif; color: #0F243E'><o:p></o:p></span>
                    </b>
                </p>

                <p class=MsoNormal style='text-align: justify'>
                    <span style='font-size: 12.0pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             font-family: "Calibri", sans-serif; mso-bidi-font-weight: bold'><o:p>&nbsp;</o:p></span>
                </p>

            <ul style='margin-top: 0cm' type=disc>
                <li class=MsoNormal style='text-align: justify; mso-list: l4 level1 lfo4;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            tab-stops: list 36.0pt'>
                    <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif; mso-bidi-font-weight: bold'>Citação no folheto da programação do evento;<o:p></o:p></span>
                </li>
                <li class=MsoNormal style='text-align: justify; mso-list: l4 level1 lfo4;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       tab-stops: list 36.0pt'>
                    <span style='font-size: 12.0pt; font-family: "Calibri", sans-serif;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     mso-bidi-font-weight: bold'>Chamada no dia da Abertura.<o:p></o:p></span>
                </li>
            </ul>
            <br/>
               
            <h3>Você tem interesse em patrocinar o evento?</h3>
            <h4>Efetue seu cadastro e entraremos em contato!</h4>
            <br/>  
            <a href="@Url.Action("CadastroPatrocinador", "Evento")" class="btn btn-primary">Clique aqui</a>
            </div>
        </div>
    </div>


</div>