@{
    ViewBag.Title = "Patrocinar a Copa Movi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="conteudo">
    <div class="panel panel-default container">
        <div class="panel-heading">Copa Movi - Proposta de Patrocínio </div>
        <div class="panel-body container">
            <div class="row" style="margin:40px;">
                <div class="text-center">
                    <p align="center"><img src="/Content/images/copamovi.png" class="img-responsive" width="300"></p>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <b style='mso-bidi-font-weight:normal'>
                            <span style='font-size:28.0pt;font-family:"Calibri","sans-serif";
color:#595959'>PROPOSTA DE PATROCÍNIO<o:p></o:p></span>
                        </b>
                    </p>

                    <p class=MsoNormal align=center style='text-align:center'>
                        <b style='mso-bidi-font-weight:
normal'>
                            <span style='font-size:28.0pt;font-family:"Calibri","sans-serif";
color:#595959'>3ª COPA MOVI</span>
                        </b><span style='font-size:28.0pt;font-family:
"Calibri","sans-serif";color:#595959'><o:p></o:p></span>
                    </p>

                    <h1 style='text-align:justify;line-height:150%'>
                        <span style='font-family:"Calibri","sans-serif";
color:#404040'><o:p>&nbsp;</o:p></span>
                    </h1>

                    <h1 style='text-align:justify;line-height:150%'>
                        <span style='font-family:"Calibri","sans-serif";
color:#404040'>O que é o Movimento Jovem?<o:p></o:p></span>
                    </h1>

                    <p class=MsoNormal style='text-align:justify;text-indent:35.4pt;line-height:
150%;mso-layout-grid-align:none;text-autospace:none'>
                        <span style='font-size:
12.0pt;line-height:150%;font-family:"Calibri","sans-serif";mso-bidi-font-family:
Minion-Regular;color:#292526;mso-fareast-language:JA'>
                            O Movimento Jovem (Movi)
                            é uma entidade sem fins lucrativos que tem como missão promover a educação
                            complementar para jovens e adolescentes baseada nos valores de liderança,
                            cidadania, empreendedorismo, voluntariado e responsabilidade social. Tem como
                            objetivo principal o de proporcionar oportunidades para que as pessoas
                            desenvolvam todo o seu potencial e capacidade de liderança, descobrindo sua
                            própria personalidade e qualidades em seu caráter muitas vezes escondidas, não
                            percebidas e inertes. Procura também enriquecer a formação pessoal de cada
                            indivíduo, motivando- o a buscar seus ideais e objetivos de vida e encontrando
                            uma nova escala de valores para que, através da coragem, respeito, humildade e
                            amizade, possa aumentar sua autoconfiança, o bem-estar, a felicidade ao seu
                            redor e alcançar o espírito de responsabilidade perante à sociedade e sua
                            própria vida. <o:p></o:p>
                        </span>
                    </p>



                    <h1 style='text-align:justify;line-height:150%'>
                        <span style='font-family:"Calibri","sans-serif";
color:#404040'>Missão:<o:p></o:p></span>
                    </h1>

                    <p class=MsoNormal style='text-align:justify;text-indent:35.45pt;line-height:
150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif"'>
                            O
                            Movimento Jovem Brasil (Movi) tem como missão a busca de um Mundo melhor
                            através de um Homem melhor. Acreditamos que o Meio é produto do Homem e não o
                            Homem produto do Meio. Assim, um Homem melhor, mais consciente e crítico de si
                            mesmo e da sociedade em que vive terá a capacidade de ser mais atuante e produtor
                            de um Mundo melhor. Mundo esse onde o calor humano será mais compartilhado,
                            onde seremos muito mais do que teremos e onde as pessoas não terão seus valores
                            e ideais corrompidos pela sociedade. <o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal><span style='mso-fareast-language:JA'><o:p>&nbsp;</o:p></span></p>

                    <h1 style='text-align:justify;line-height:150%'>
                        <span style='font-family:"Calibri","sans-serif";
color:#404040'>Justificativa:<o:p></o:p></span>
                    </h1>

                    <p class=MsoNormalCxSpFirst style='text-align:justify;text-indent:35.4pt;
line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:
"Calibri","sans-serif"'>
                            O Movimento Jovem acredita no esporte como uma
                            ferramenta para proporcionar tanto o desenvolvimento pessoal quanto a integração
                            entre os jovens. Foi a partir daí que o Movi realizou a primeira edição da Copa
                            Movi, com o principal objetivo de buscar, através do esporte, a integração
                            entre os jovens das diversas entidades convidadas. Permitir aos participantes a
                            oportunidade de se conhecerem e trocarem experiências, visando estimular a
                            prática do esporte e a valorização do espírito esportivo.<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormalCxSpMiddle style='text-align:justify;text-indent:35.4pt;
line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:
"Calibri","sans-serif"'>
                            Em sua primeira edição, contou com a participação de
                            diversas entidades e grupos de São Paulo, além de equipes vindas de Campinas,
                            Brasília e Curitiba, disputando jogos em duas modalidade esportivas: vôlei e
                            futsal. O resultado foi uma grande confraternização entre amigos e uma ótima
                            oportunidade para conhecer novas pessoas e trocar experiências. <b style='mso-bidi-font-weight:normal'><span style='color:#632423'><o:p></o:p></span></b>
                        </span>
                    </p>
                    <p  align="center"> <img src="~/Content/images/image003.png" class="img-responsive"   /></p>
                    <p  align="center" ><img src="~/Content/images/image005.png" class="img-responsive"  /></p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <b style='mso-bidi-font-weight:normal'>
                            <span style='font-size:16.0pt;line-height:
150%;font-family:"Calibri","sans-serif";color:#404040'>Organização Geral<o:p></o:p></span>
                        </b>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <b style='mso-bidi-font-weight:normal'>
                            <span style='font-size:12.0pt;line-height:
150%;font-family:"Calibri","sans-serif";color:#632423'>Data<o:p></o:p></span>
                        </b>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif";
color:black'>O torneio será realizado entre os dias 18/04/2014 e 21/04/2014.<o:p></o:p></span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <b style='mso-bidi-font-weight:normal'>
                            <span style='font-size:12.0pt;line-height:
150%;font-family:"Calibri","sans-serif";color:#632423'>Local<o:p></o:p></span>
                        </b>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif"'>
                            Os
                            jogos serão realizados no NIPPON COUNTRY CLUB, que conta com uma das melhores
                            infra-estruturas de clube do Brasil, situado na cidade de Arujá - SP.<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif"'>
                            Informações
                            adicionais sobre o clube poderão ser encontradas no site: <a href="http://www.nipponclub.com.br/">
                                <span style='color:windowtext;text-decoration:
none;text-underline:none'>http://www.nipponclub.com.br</span>
                            </a>.<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <b style='mso-bidi-font-weight:normal'>
                            <span style='font-size:12.0pt;line-height:
150%;font-family:"Calibri","sans-serif";color:#632423'>Número de participantes<o:p></o:p></span>
                        </b>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif";
color:black'>
                            Publico esperado: cerca de 600 pessoas. Sendo 16 times masculinos
                            e 6 times femininos de futebol, 8 times masculinos e 6 femininos de vôlei,
                            totalizando cerca de 400 participantes além de torcida e familiares. O número
                            de times participantes pode sofrer alterações<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <b style='mso-bidi-font-weight:normal'>
                            <span style='font-size:12.0pt;line-height:
150%;font-family:"Calibri","sans-serif";color:#632423'>Infra-estrutura<o:p></o:p></span>
                        </b>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif"'>
                            Serão
                            utilizadas as quadras do Ginásio Poliesportivo do Nippon Country Club.<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <b style='mso-bidi-font-weight:normal'>
                            <span style='font-size:12.0pt;line-height:
150%;font-family:"Calibri","sans-serif";color:#632423'>Entidades Convidadas<o:p></o:p></span>
                        </b>
                    </p>
                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif"'>
                            -
                            Nippon Country Club<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif"'>
                            -
                            Seinenkai Vila Carrão<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif"'>
                            -
                            Seinenkai Ribeirão Pires<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif"'>
                            -
                            Seinenkai Biritiba Mirim<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif";
mso-bidi-font-family:Arial;background:white'>
                            - Aliança Beneficente
                            Universitária de São Paulo (ABEUNI)<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif";
mso-bidi-font-family:Arial;background:white'>- Movimento Jovem<o:p></o:p></span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif";
mso-bidi-font-family:Arial;background:white'>-</span><span style='font-size:
12.0pt;line-height:150%;font-family:"Calibri","sans-serif";mso-bidi-font-family:
Arial'>Instituto Cultural Nipo Brasileiro de Campinas<o:p></o:p></span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif";
mso-bidi-font-family:Arial;background:white'>
                            - Clube Cultural e Recreativo
                            Nipo-Brasileiro de Brasília<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif";
mso-bidi-font-family:Arial;background:white'>- União dos Gakusseis de Curitiba<o:p></o:p></span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif";
mso-bidi-font-family:Arial'>-</span><span style='font-size:12.0pt;line-height:
150%;font-family:"Calibri","sans-serif";mso-bidi-font-family:Helvetica'>
                            Associação
                            Mineira de Cultura Nipo-Brasileira<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif";
mso-bidi-font-family:Helvetica'>-</span><span style='font-size:12.0pt;
line-height:150%;font-family:"Calibri","sans-serif";mso-bidi-font-family:Arial'>
                            Sociedade<span style='background:white'>
                                Brasileira de Cultura Japonesa e de Assistência
                                Social (Bunkyo-SP)<o:p></o:p>
                            </span>
                        </span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif";
mso-bidi-font-family:Arial;background:white'>
                            - Associação Cultural de Mogi das
                            Cruzes<o:p></o:p>
                        </span>
                    </p>
                    <br />
                    <br />
                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <b style='mso-bidi-font-weight:normal'>
                            <span style='font-size:12.0pt;line-height:
150%;font-family:"Calibri","sans-serif";color:#632423'>Contato do Coordenador<o:p></o:p></span>
                        img</b>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif";
color:black'>Fabio Luiz Nakandakare<o:p></o:p></span>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <b style='mso-bidi-font-weight:normal'>
                            <span style='font-size:12.0pt;line-height:
150%;font-family:"Calibri","sans-serif";color:black'>
                                <a href="mailto:fabio_luiz1991@hotmail.com">fabio_luiz1991@hotmail.com</a><o:p></o:p>
                            </span>
                        </b>
                    </p>

                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif";
color:black'>cel: (05511) 97207-6338<o:p></o:p></span>
                    </p>

                    <br />
                    <br />
                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif";color:black'>Você gostaria de nós ajudar na realização deste evento seja um patrocionador.<o:p></o:p></span>
                    <p class=MsoNormal style='text-align:justify;line-height:150%'>
                        <span style='font-size:12.0pt;line-height:150%;font-family:"Calibri","sans-serif";color:black'>Clique no botão abaixo para maiores informações: <br /><br /> @Html.ActionLink("Seja um patrocinador?","CotasPatrocinio","Evento",new{ @class="btn btn-primary"}) <o:p></o:p></span>



                </div>
            </div>
        </div>
    </div>

</div>

